 :root {
     --bg-color: #0f172a;
     --panel-bg-color: rgba(30, 41, 59, 0.7);
     --text-primary: #e2e8f0;
     --text-secondary: #94a3b8;
     --border-color: rgba(51, 65, 85, 0.7);

     --cpu-color-start: #38bdf8;
     --cpu-color-end: #0c4a6e;

     --ram-color-start: #34d399;
     --ram-color-end: #166534;

     --disk-color-start: #f59e0b;
     --disk-color-end: #78350f;

     --track-color-start: rgba(255, 255, 255, 0.05);
     --track-color-end: rgba(0, 0, 0, 0.1);

 }

 body {
     background-color: var(--bg-color);
     background-image: linear-gradient(rgba(0, 6, 19, 0.7), rgba(0, 4, 15, 0.7)), url('https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     font-family: 'Inter', sans-serif;
     color: var(--text-primary);
     height: 200vh;
 }

 .system-panel {
     position: fixed;
     bottom: 1rem;
     right: 1rem;
     width: 100%;
     max-width: 280px;
     display: flex;
     background: var(--panel-bg-color);
     border: 1px solid var(--border-color);
     border-radius: 12px;
     backdrop-filter: blur(20px);
     box-shadow: 0 8px 32px rgb(0, 0, 0);
     overflow: hidden;
 }

 .stat-column {
     flex: 1;
     padding: 0.5rem 0.25rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 0.1rem;
     position: relative;
 }

 .stat-column:not(:last-child) {
     border-right: 1px solid var(--border-color);
 }

 .progress-ring {
     width: 65px;
     height: 65px;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .progress-ring svg {
     position: absolute;
     width: 100%;
     height: 100%;
     transform: rotate(135deg);
 }

 .progress-ring__circle {
     transition: stroke-dashoffset 0.35s ease-out;
     stroke-linecap: round;
 }

 .progress-ring__track {
     stroke: rgba(255, 255, 255, 0.15);
 }

 .gauge-info {
     position: absolute;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .percentage {
     font-size: 1rem;
     font-weight: 700;
 }

 .label {
     font-size: 0.75rem;
     color: var(--text-secondary);
     font-weight: 500;
     text-transform: uppercase;
     letter-spacing: 0.5px;
     margin-top: -2px;
 }

 .usage-details {
     font-size: 0.75rem;
     color: var(--text-secondary);
     margin-top: -0.5rem;
     font-weight: 500;
 }