<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 🐧 | Linux Log Analyzer </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <canvas id="matrix-canvas"></canvas>
    <div class="system-panel">
        <div class="stat-column">
            <div class="progress-ring">
                <svg>
                    <circle class="progress-ring__track" stroke-width="6" fill="transparent" r="28" cx="32" cy="32"/>
                    <circle id="cpu-circle" class="progress-ring__circle" stroke-width="6" fill="transparent" r="28" cx="32" cy="32"/>
                </svg>
                 <div class="gauge-info">
                    <div class="percentage" id="cpu-percent-text">--%</div>
                    <div class="label">CPU</div>
                </div>
            </div>
            <div class="usage-details" id="cpu-usage-text">&nbsp;</div>
        </div>

        <div class="stat-column">
            <div class="progress-ring">
                <svg>
                    <circle class="progress-ring__track" stroke-width="6" fill="transparent" r="28" cx="32" cy="32"/>
                    <circle id="ram-circle" class="progress-ring__circle" stroke-width="6" fill="transparent" r="28" cx="32" cy="32"/>
                </svg>
                 <div class="gauge-info">
                    <div class="percentage" id="ram-percent-text">--%</div>
                    <div class="label">RAM</div>
                </div>
            </div>
            <div class="usage-details" id="ram-usage-text">--/-- GB</div>
        </div>
        
        <div class="stat-column">
            <div class="progress-ring">
                <svg>
                    <circle class="progress-ring__track" stroke-width="6" fill="transparent" r="28" cx="32" cy="32"/>
                    <circle id="disk-circle" class="progress-ring__circle" stroke-width="6" fill="transparent" r="28" cx="32" cy="32"/>
                </svg>
                 <div class="gauge-info">
                    <div class="percentage" id="disk-percent-text">--%</div>
                    <div class="label">DISK</div>
                </div>
            </div>
            <div class="usage-details" id="disk-usage-text">--/-- GB</div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>